annotated-types==0.6.0
anyio==3.7.1
black==23.11.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
DAWG-Python==0.7.2
docopt==0.6.2
fastapi==0.104.1
flake8==6.1.0
greenlet==3.0.2
h11==0.14.0
idna==3.6
Jinja2==3.1.2
joblib==1.3.2
MarkupSafe==2.1.3
mccabe==0.7.0
mypy-extensions==1.0.0
nltk==3.8.1
numpy==1.26.2
packaging==23.2
pandas==2.1.4
pathspec==0.12.1
platformdirs==4.1.0
pycodestyle==2.11.1
pydantic==2.5.2
pydantic_core==2.14.5
pyflakes==3.1.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pymorphy3==1.3.1
pymorphy3-dicts-ru==2.4.417150.4580142
python-dateutil==2.8.2
pytz==2023.3.post1
ratelimit==2.2.1
regex==2023.10.3
requests==2.31.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.23
starlette==0.27.0
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
uvicorn==0.24.0.post1
vk==3.0
