*{
    color: white;
}

.Form_ul {
    list-style: none;
    padding: 0;
}

.FormContainer{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.subform_container{
    border-radius: 30px;
    border: 3px solid #ffdeca6e;
    background-color: #ffdeca15;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    text-align: left;
    font-family: MontserratLight;
}

.subform_lable{
    font-family: MontserratSemiBold;
    margin-bottom: 10px;
}

/* .FormInput{
    border-radius: 5px;
    border: 3px solid #ffdeca6e;
    background-color: transparent;

} */

input[type=radio]{
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #ffdeca6e;
    transition: 0.15s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
    cursor: pointer;
}
  
input[type=radio]:checked {
  border: 6px solid #ffdeca6e;
}

input[type=checkbox]{
    appearance: none;
  
    border-radius: 10%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #ffdeca6e;
    transition: 0.15s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
    cursor: pointer;
}
  
input[type=checkbox]:checked {
  border: 6px solid #ffdeca6e;
}
 
input[type=text]{
    border: 3px solid #ffdeca6e;
    background-color: transparent;

    outline: none;
    color: white;
    font-family: MontserratSemiBold;
  
    border-radius: 10px;
    width: 200px;
    height: 30px;
    transition: 0.8s;
}

input[type=text]:focus{
    width: 300px;
    transition: 0.8s;
}

.SendFormButtonContainer{
    width: 100vw;
}

.SendFormButton{
    background-color: transparent;
    height: fit-content;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    border: 2px solid #ffdeca88;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.ResultDiv{
    margin: auto;
    padding: 30px 60px 30px 60px;
    border-radius: 30px;
    border: 3px solid #ffdeca6e;
    background-color: #ffdeca15;
    margin-bottom: 80px;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    font-family: MontserratBold;
    margin-top: 30vh;
}

.ButtonText{
    font-size: 20px;
}

.subform_lable{
    font-size: 23px;
}

@font-face {
    font-family: MontserratBold;
    src: url("../resources/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: MontserratSemiBold;
    src: url("../resources/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: MontserratLight;
    src: url("../resources/fonts/Montserrat-Light.ttf");
}