.Loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 99
  }
  
  .Loading div {
    background: rgba(255, 255, 255, 0);
    width: 100px;
    height: 100px;
    border-radius: 30%;
    border: 10px #0ea6e7 solid;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: spin 3s infinite linear;
  }

  .WaitingLable{
    font-size: clamp(20px, 3.5vw, 40px);
    max-width: 80vw;
    margin: auto;
    font-family: MontserratBold;
    margin-top:30px;
    border-radius: clamp(10px, 2vw, 20px);
    background-color: #ffdeca40;
    padding: clamp(25px, 4vw, 40px) 10px clamp(25px, 4vw, 40px) 10px;
}
  
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }