.LoginFormContainer{
    padding-top: 10vh;
    transition: 1s all linear;
}

.LoginForm{
    height: fit-content;
    padding: 50px;
    width: fit-content;
    margin: auto;
    border-radius: 30px;
    border: 3px solid #ffdeca6e;
    background-color: #ffdeca15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
}

.LoginLabel{
    font-family: MontserratBold;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.LoginButton{
    margin-top: 20px;
    background-color: transparent;
    width: 100px;
    height: fit-content;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    border: 2px solid #ffdeca88;
    padding: 5px;
    cursor: pointer;
}

.RegisterButton{
    margin-top: 15px;
    background-color: transparent;
    width: 100px;
    height: fit-content;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    border: 2px solid #ffdeca88;
    padding: 5px;
    cursor: pointer;

}

.LoginFormInput{
    margin-top: 15px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #ffdecaae;
    text-align: center;
    outline: none;
    font-size: 20px;
    cursor: text;
    color: #ffefe5bc;
}

.LoginFormInput::placeholder{
    color: #ffefe5bc;
}

.LoginFailedLabel{
    margin-top: 15px;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    border: 2px solid #ffababc1;
    text-align: center;
    color: #ffefe5bc;
    font-family: MontserratBold;
}

.RegFailedContainer{
    padding-top: 20px;
}

.RegistrationFailedLabel{
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    border: 2px solid #ffababc1;
    text-align: center;
    color: #ffefe5bc;
    font-family: MontserratBold;
}

@font-face {
    font-family: MontserratBold;
    src: url("../resources/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: MontserratLight;
    src: url("../resources/fonts/Montserrat-Light.ttf");
}