
.CourseName{
    font-family: MontserratBold;
    font-size: clamp(12px, 2.2vw, 20px);
}

.CourseDescription{
    font-family: MontserratLight;
    font-size: clamp(10px, 2vw, 17px);
    text-align-last: center;
    text-align: justify;
    text-justify: inter-character;
}

.LableError{
    /* width: clamp(300px, 80vw, 1000px); */
    border-radius: clamp(20px, 3vw, 30px);
    border: 3px solid #ffabab75;
    background-color: #ffdeca15;
    font-family: MontserratBold;
    font-size: clamp(20px, 3vw, 50px);
    padding: clamp(10px, 3vw, 60px);
    margin: auto;
    margin-top: 30vh;
    width: 80vw;
}

.ResultsContainer{
    padding: 0px 0px 50px 0;
}

.CoursesSection{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 2 * clamp(3px, 2vw, 10px));
    justify-content: center;
}

.ResultSection{
    border-radius: clamp(20px, 3vw, 30px);
    border: 3px solid #ffdeca6e;
    background-color: #ffdeca15;
    margin: 5px clamp(3px, 2vw, 10px) 5px clamp(3px, 2vw, 10px);
    width: clamp(100px, 35vw, 300px);
    padding: clamp(5px, 2vw, 20px);
    transition: 0.3s linear;
    cursor: pointer;
}

.ResultSection:hover{
    border: 3px solid #ffdecaac;
    background-color: #ffdeca39;
    transition: 0.3s linear;
    transform: scale(1.15);
}

.CoursesLable{
    font-size: clamp(20px, 3.5vw, 40px);
    max-width: 80vw;
    margin: auto;
    font-family: MontserratBold;
    margin-top:30px;
    border-radius: clamp(10px, 2vw, 20px);
    background-color: #ffdeca40;
    padding: clamp(25px, 4vw, 40px) 10px clamp(25px, 4vw, 40px) 10px;
    margin-bottom: 30px;
}

@font-face {
    font-family: MontserratLight;
    src: url("../resources/fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: MontserratSemiBold;
    src: url("../resources/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: MontserratBold;
    src: url("../resources/fonts/Montserrat-Bold.ttf");
}